.book__data {
  display: flex;
  background-color: rgb(176, 175, 179);
  margin: 4%;

  border-radius: 1%;
}
.MuiButtonBase-root {
  font-size: 12px !important;
  margin-left: 5px !important;
  margin-bottom: 5px !important;
}
.book__image {
  object-fit: contain;
  width: 29vw;
  padding: 15px;
}
